{% extends 'base.html.twig' %}

{% block title %}Liste des Produits{% endblock %}

{% block body %}

<ul>
    {% for produit in produits %}
        <li>produit.nom</li>
        <li>produit.prix</li>
        <li><img src="/uploads/images/{{ produit.urlImg }}"/></li>
        <button><a href="{{ path('app_home_show',{id: produit.id }) }}">voir</a></button>
    {% endfor %}
</ul>

{% endblock %}
